import aminolib as lib
c=lib.Client()
c.login("Ayhamshindi11111@gmail.com","zzzzzz")
print("logged . . .")
comId = c.get_from_url("http://aminoapps.com/p/ajdomm").comId
for i in range(5):
  c.send_active(comId)
  print(i+1)
